
body {
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.5;
}

/* Navigation Bar Section */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 100;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  max-height: 78vh;
  overflow: hidden;
  color:#ffffff;
  padding-bottom: 5%;
}

#title .row {
  margin-top: 8%;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 20px;
}

#title .btn {
  font-size: 1rem;
  margin: 0 5px;
}

.title-image {
  margin-top: -8%;
  transform: rotate(22deg);
  width: 65%;
}

/* Features Section */

#features {
  margin-top: 8%;
  margin-bottom: 8%;
  padding: 5% 7%;
  text-align: center;
}

.icn {
  color: #ef8172;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10px;
}

.icn:hover {
  color: #ff4c68;
}

#features .title {
  font-family: "montserrat-bold";
  font-size: 2rem;
}

#features .description {
  color: #8f8f8f;
  padding: 0 25%;
}

/* Testimonial Section */

#testimonials {
  background-color: #ff4c68;
  color: #ffffff;
  padding: 5% 7%;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 5% 7%;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

#cta {
  color: white;
  background-color: #ff4c68;
  padding: 5% 25%;
  text-align: center;
}

.download {
  margin: 5% 20px 0;

}

.download.btn-outline-dark {
  background-color: white;
}

.download.btn-outline-dark:hover {
  background-color: #343a40;
}

/* Footer Section */

#footer {
  padding: 5% 7%;
  text-align: center;
}

#footer .icn {
  color: #343a40;
  font-size: 16px;
  margin: 10px;
}

/* Queries Section */
@media screen and (max-width: 1028px) {
  #title {
    max-height: none;
    text-align: center;
  }
  .title-image {
    margin-top: 10%;
    position: static;
    transform: rotate(0);
    width: 50%;
  }

  h1 {
    font-size: 3rem;
  }
}
